[submodule "AppBot"]
    path = AppBot
    url = https://github.com/true-false-try/AppBot

[submodule "Vault"]
    path = Vault
    url = https://github.com/true-false-try/Vault

[submodule "Redis"]
    path = Redisrm -rf .git/modules/Redis
    url = https://github.com/true-false-try/Redis