[submodule "AppBot"]
    path = AppBot
    url = https://github.com/true-false-try/AppBot

[submodule "Vault"]
    path = Vault
    url = https://github.com/true-false-try/Vault

[submodule "Redis"]
	path = Redis
	url = https://github.com/true-false-try/Redis
